/*Fuente*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/*Estilo del globales*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}

/*Estilo del body*/

body{
    background: url(../img/presupuesto-banner.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    min-width: 100%;
}

/*Inicio para la barra de navegación*/

.header{
    background: #777;
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 85px;
    padding: 4px 10%;
}

.header .logo a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.header .logo a img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo a h1{
    font-size: 2em;
    padding-left: 10px;
    color: #efaf93;
    transition: all 0.3s;
}

.header nav .nav-links{
    list-style: none;
}

.header nav .nav-links li{
    display: inline-block;
    padding: 0 20px;
    transition: all 0.2s;
}

.nav-links li:hover, .logo img:hover, .logo h1:hover{
    transform: scale(1.05);
}

.header .nav-links li a{
    font-size: 1.4em;
    font-weight: 500;
    color: #60b3ab;
    text-decoration: none;
    transition: all 0.3s;
}

.header .nav-links .li a:hover{
    background: linear-gradient(to right, #60b3abdd, #deb887dd);
    color: #777;
    padding: .35em .65em;
    border-radius: 35px;
}

.header nav .nav-links .in-link a{
    background: linear-gradient(to right, #60b3abdd, #deb887dd);
    color: #777;
    padding: .35em .65em;
    border-radius: 35px;
    transform: scale(1.05);
}

.header nav .nav-links .in-link a:hover{
    color: #555;
}

.header .btn button{
    font-size: 17px;
    font-weight: 700;
    color: #777;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: #e2f1f8;
    color: #ffbc0e;
    transform: scale(1.05);
}

.header .in-btn button{
    font-size: 17px;
    font-weight: 700;
    color: #ffbc0e;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    transform: scale(1.05);
}

/* Para dispositivos móviles */
@media (max-width: 768px) {
    /* Header */
    .header {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 10px;
    }

    .header .logo img {
        height: 50px;
    }

    .header .logo h1 {
        font-size: 1.5em;
    }

    .header .nav-links li {
        padding: 5px 10px;
        display: block;
    }

    .header .btn button {
        font-size: 14px;
        padding: 8px 15px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .header {
        flex-direction: column;
        padding: 10px 5%;
    }

    .header .nav-links li {
        padding: 10px;
        display: block;
    }
}


        /*        --index.html--        */

/*Inicio del section class=banner - index.html*/

.banner{
    margin: auto;
    padding: 10px 0;
    width: 95vw;
    height: calc(100vh - 85px);
}

.banner .banner-img{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 20px;
}

/*Inicio del section class=article01 - index.html*/

.article01, .article02{
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    padding: 20px;
    width: 95vw;
    min-height: 98vh;
    background: linear-gradient(to right, #efaf93dd, #93d3efdd);
    border: none;
    border-radius: 20px;
}

.article02 {
    background: linear-gradient(to left, #cc7777dd, #ddcc77dd);
}

.article01 div, .article02 div {
    width: 50%;
    padding: 10px;
}

.article01 div h2{
    font-size: 3.8em;
    color: #111;
    letter-spacing: 1px;
    font-weight: 700;
}

.article01 div p{
    font-size: 1.7em;
    color: #343434;
    font-weight: 600;
    padding-right: 20px;
}

.article01 img, .article02 img{
    height: auto;
    width: 50%;
    border: none;
    border-radius: 20px;
}

/*Inicio del section class=article02 - index.html*/

.article02 div h2{
    text-align: right;
    font-size: 68px;
    color: #111;
    letter-spacing: 1px;
    font-weight: 700;
}

.article02 div p{
    text-align: right;
    font-size: 27px;
    color: #343434;
    font-weight: 600;
    padding-left: 20px;
}

/* Para dispositivos móviles */
@media (max-width: 768px) {
    /* Banner */
    .banner {
        height: 50vh; /* Reduce el tamaño en dispositivos móviles */
    }

    .banner .banner-img {
        border-radius: 10px;
    }

    /* Sección Nuestras Marcas */
    .article01, .article02 {
        flex-direction: column; /* Cambiar a una columna en lugar de fila */
        text-align: center;
        height: auto;
    }

    .article01 div, .article02 div {
        width: 100%;
    }

    .article01 img, .article02 img {
        width: 100%;
        border-radius: 15px;
    }

    .article01 div h2, .article02 div h2 {
        text-align: center;
        font-size: 40px; /* Reducir el tamaño en móviles */
    }

    .article01 div p, .article02 div p {
        text-align: center;
        font-size: 1.2em;
        padding: 0;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    /* Banner */
    .banner {
        height: 60vh; /* Ajustar la altura del banner */
    }

    /* Sección Nuestras Marcas */
    .article01, .article02 {
        flex-direction: column;
        height: auto;
    }

    .article01 img, .article02 img {
        width: 90%;
    }

    .article01 div h2, .article02 div h2 {
        font-size: 50px; /* Ajustar tamaño */
    }
}

        /*        --productos.html--        */

/*Inicio del section class=gallery - productos.html*/

.gallery{
    background: linear-gradient(to right, #77ccbbdd, #f1cb64dd, #77ccbbdd);
    margin: 10px auto;
    padding: 15px;
    min-height: calc(100vh - 105px);
    width: 95vw;
    border: none;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
}

.gallery h2{
    font-size: 60px;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 700;
    color: #111;
    background: transparent;
}

.gallery .gallery-grid {
    width: 95%;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(6, 1fr); /* 6 columnas en pantallas grandes */
    gap: 13px 20px;
}

.gallery .gallery-grid .gallery-item {
    background-color: #aaa;
    color: #353535;
    box-shadow: 0 5px 10px #0000001a;
    text-align: center;
    padding: 7px;
    border: none;
    border-radius: 20px;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 14,5rem;
    max-width: 16,4rem;
}

.gallery .gallery-grid .gallery-item .item {
    height: 100%;
    width: 100%;
    border: 1px #fff solid;
    border-radius: 20px;
    margin: 0 0;
}

.gallery .gallery-grid .gallery-item label {
    font-size: 1.1rem;
    letter-spacing: 1px;
    padding-top: 3px;
    font-weight: 600;
}

.gallery .gallery-grid .gallery-item:hover {
    background-color: #bbb;
    color: #333;
    border: 0 #888 solid;
    transform: scale(1.08);
}

/*Inicio del section class=gallery-banner - productos.html*/

a{
    text-decoration: none;
}

.gallery-banner{
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    padding: 20px;
    width: 95vw;
    min-height: 98vh;
    background: linear-gradient(to left, #88ddccdd, #c3dd88dd);
    border: none;
    border-radius: 20px;
}

.gallery-banner div{
    width: 50%;
    padding: 10px;
}

.gallery-banner h2{
    font-size: 3.8em;
    color: #111;
    letter-spacing: 1px;
    font-weight: 700;
}

.gallery-banner p{
    font-size: 1.7em;
    color: #343434;
    font-weight: 600;
    padding-right: 20px;
}

.gallery-banner p span{
    color: #fff;
}

.gallery-banner img{
    height: auto;
    width: 50%;
    border: none;
    border-radius: 20px;
}

/* Estilos para pantallas grandes */
@media (min-width: 1600px) {
    .gallery .gallery-grid {
        grid-template-columns: repeat(6, 1fr); /* Mantiene 6 columnas */
    }
}

@media (max-width: 1599px) and (min-width: 1340px){
    .gallery .gallery-grid {
        grid-template-columns: repeat(5, 1fr); /* Mantiene 6 columnas */
    }
}

/* Estilos para pantallas medianas (tablets en orientación horizontal) */
@media (max-width: 1339px) and (min-width: 1070px) {
    .gallery .gallery-grid {
        grid-template-columns: repeat(4, 1fr); /* 4 columnas en pantallas medianas */
    }
}

/* (tablets en orientación vertical y smartphones grandes) */
@media (max-width: 1069px) and (min-width: 810px) {
    .gallery .gallery-grid {
        grid-template-columns: repeat(4, 1fr); /* 2 columnas en pantallas pequeñas */
    }
    .gallery .gallery-grid .gallery-item label {
        font-size: 1rem;
    }
}

/* Estilos para pantallas pequeñas (tablets en orientación vertical y smartphones grandes) */
@media (max-width: 810px) {
    .gallery .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .gallery-banner {
        flex-direction: column;
        text-align: center;
        height: auto;
    }
    .gallery-banner div {
        width: 100%;
    }
    .gallery-banner h2 {
        text-align: center;
        font-size: 40px;
    }
    .gallery-banner p {
        text-align: center;
        font-size: 1.2em;
        padding: 0;
    }
    .gallery-banner img {
        width: 100%;
        border-radius: 15px;
    }
}

        /*        --presupuesto--        */

/*Inicio del section class=presupuesto-info - presupuesto.html*/

.presupuesto-info{
    display: flex;
    margin: 10px auto;
    width: 95vw;
    min-height: calc(100vh - 105px);
    border: none;
    border-radius: 20px;
}

.presupuesto-info .presupuesto-text{
    width: 50%;
    padding: 20px 30px;
    background: linear-gradient(to right, #60b3abdd, #deb887dd) ;
    border: none;
    border-radius: 20px 0 0 20px;
}

.presupuesto-info .presupuesto-text h2{
    font-size: 4rem;
    color: #111;
    font-weight: 700;
    letter-spacing: 1px;
}

.presupuesto-info .presupuesto-text p{
    font-size: 1.9rem;
    color: #343434;
    font-weight: 600;
}

.presupuesto-form{
    width: 50%;
    background: linear-gradient(to right, #deb887dd, #60b3abdd);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: none;
    border-radius: 0 20px 20px 0 ;
}

.presupuesto-form h2{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: .5px;
}

.presupuesto-form .form-inputs{
    width: 80%;
}

.presupuesto-form form{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 20px;
}

.presupuesto-form form .form-block{
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}

.presupuesto-form .form-inputs form div label{
    font-size: 20px;
    text-align: left;;
    font-weight: 600;
}

.presupuesto-form form div label span{
    color: #be1c1c;
}

.presupuesto-form form div input,
.presupuesto-form form div textarea{
    width: 100%;
    height: 35px;
    border: 1px #aaa solid;
    border-radius: 5px;
    padding: 5px;
    font-size: 17px;
}

.presupuesto-form form div textarea{
    height: 70px;
    resize: none;
    padding: 10px;
}

.presupuesto-form form .checkbox-block{
    display: flex;
    align-items: center;
    grid-column: span 2;
}

.presupuesto-form form .checkbox-block .checkbox{
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.presupuesto-form form .checkbox-block label{
    font-size: 1.2em;
}

.presupuesto-form .form-inputs form .checkbox-block label a{
    color: #eee;
    text-decoration: none;
}

.presupuesto-form form .button{
    width: 100%;
    padding: 10px;
    background: #fdfdfd;
    border: 1px #ddd solid;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 700;
    transition: all 0.3s;
}

.presupuesto-form form .button:hover{
    border: 1px #aaa solid;
    background: #fff;
    transform: scale(1.03);
}

        /*        --acerca--      */

/*Inicio del section class=team - acerca.html*/

.about{
    display: flex;
    background: linear-gradient(to left, #adc877dd, #77c8bbdd);
    width: 95vw;
    min-height: calc(100vh - 105px);
    margin: 10px auto;
    padding: 20px;
    border: none;
    border-radius: 20px;
}

.about .team-text{
    width: 55%;
    padding: 0 10px;
}

.about h2{
    font-size: 33px;
    padding-bottom: 5px;
    color: #111;
    letter-spacing: 1px;
    font-weight: 700;
}

.about p{
    font-size: 21.5px;
    padding-bottom: 5px;
    color: #343434;
    font-weight: 600;
}

.about ul{
    font-size: 21.5px;
    margin-left: 20px;
    color: #343434;
    font-weight: 600;
}

.about ul strong{
    font-size: 21px;
    color: #151515;
}

.about .team-grid{
    width: 45%;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.about .team-grid .team-member{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    text-align: center;
    
}

.about .team-grid .team-member img{
    width: 230px;
    height: 230px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 5px 10px #0000001a;
}

.about .team-grid .team-member h3{
    font-size: 23px;
    font-weight: 700;
    color: #111;
}

.about .team-grid .team-member label{
    padding-bottom: 10px;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 700;
    color: #444;
}

        /*        --contacto--        */

/*Inicio del section class=contact - contacto.html*/

.contact{
    display: flex;
    justify-content: space-between;
    width: 95vw;
    min-height: calc(100vh - 105px);
    margin: 10px auto;
    padding: 20px;
    background: linear-gradient(to right, #deb887dd, #60b3abdd);
    border: none;
    border-radius: 20px;
}

/*Estilo para el formulario de contacto*/

.contact .company-info{
    display: flex;
    flex-direction: column;
    width: 55%;
    padding: 0 10px;
    text-decoration: none;
}

.contact .company-info a{
    color: #ededed;
}

.contact .company-info h2{
    font-size: 3.8rem;
    font-weight: 700;
    color: #111;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.contact .company-info p{
    font-size: 1.65rem;
    color: #343434;
    font-weight: 600;
    line-height: 2.6rem;
}

.contact .company-info ul{
    display: flex;
    list-style: none;
}

.contact .company-info ul li{
    margin-right: 10px;
    transition: all 0.1s;
}

.contact .company-info ul li a .facebook-icon{
    width: 48px;
    height: 48px;
    background: url(../img/facebook-icon.png);
    background-size: cover;
    transition: all 0.3s;
}

.contact .company-info ul li a .facebook-icon:hover{
    background: url(../img/facebook-icon-hover.png);
    background-size: cover;
    transform:scale(1.1);
}

.contact .company-info ul li a .instagram-icon{
    width: 48px;
    height: 48px;
    background: url(../img/instagram-icon.png);
    background-size: cover;
    transition: all 0.3s;
}

.contact .company-info ul li a .instagram-icon:hover{
    background: url(../img/instagram-icon-hover.png);
    background-size: cover;
    transform:scale(1.1);
}

.contact .company-info ul li a .twitter-icon{
    width: 48px;
    height: 48px;
    background: url(../img/twitter-icon.png);
    background-size: cover;
    transition: all 0.3s;
}

.contact .company-info ul li a .twitter-icon:hover{
    background: url(../img/twitter-icon-hover.png);
    background-size: cover;
    transform:scale(1.1);
}

/*Estilo para la sección del mapa y dirección*/

.contact .map{
    width: 45%;
    min-height: 100%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 5px 10px #0000001a;
}

.map iframe{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 20px;
}


/*Inicio del footer*/

.footer{
    width: 100%;
    padding: 10px;
    background-color: #60b3ab;
}

.footer-sections{
    display: flex;
    justify-content: space-evenly;
}

.footer-section{
    min-width: 200px;
    margin: 10px;
    padding: 10px 20px;
}

.footer-section h4{
    font-size: 1.2em;
    margin-bottom: 15px;
}

.footer-section ul{
    font-size: 1em;
    list-style-type: none;
    padding: 0;
    letter-spacing: 1px;
}

.footer-section ul li{
    margin-bottom: 10px;
    transition: all .2s;
}

.footer-section ul li a{
    color: #fff;
    text-decoration: none;
}

.footer-section ul li:hover{
    transform: scale(1.02);
}

.social-media{
    display: flex;
}

.social-media li{
    margin-right: 10px;
    transition: all 0.1s;
}

.social-media li a .facebook-icon{
    width: 40px;
    height: 40px;
    background: url(../img/facebook-icon.png);
    background-size: cover;
    transition: all 0.3s;
}

.social-media li a .facebook-icon:hover{
    width: 40px;
    height: 40px;
    background: url(../img/facebook-icon-hover.png);
    background-size: cover;
    transform:scale(1.1);
}

.social-media li a .instagram-icon{
    width: 40px;
    height: 40px;
    background: url(../img/instagram-icon.png);
    background-size: cover;
    transition: all 0.3s;
}

.social-media li a .instagram-icon:hover{
    width: 40px;
    height: 40px;
    background: url(../img/instagram-icon-hover.png);
    background-size: cover;
    transform:scale(1.1);
}

.social-media li a .twitter-icon{
    width: 40px;
    height: 40px;
    background: url(../img/twitter-icon.png);
    background-size: cover;
    transition: all 0.3s;
}

.social-media li a .twitter-icon:hover{
    width: 40px;
    height: 40px;
    background: url(../img/twitter-icon-hover.png);
    background-size: cover;
    transform:scale(1.1);
}

.newsletter form {
    display: flex;
    margin-top: 10px;
}

.newsletter input {
    width: 13rem;
    padding: 8px;
    border: none;
    border-radius: 4px ;
    outline: none;
    margin-right: 5px ;
}

.newsletter button {
    padding: 8px 16px;
    border: none;
    background-color: #777;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s;
}

.newsletter button:hover {
    background-color: #888;
    transform: scale(1.05);
}

.footer-legal {
    border-top: 1px solid #444;
    padding: 10px;
    text-align: center;
}

.footer-legal ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.footer-legal ul li {
    display: inline;
    margin: 0 10px;
}

.footer-legal ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-legal ul li a:hover {
    text-decoration: underline;
}

/* Para dispositivos móviles */
@media (max-width: 768px) {
    /* Footer */
    .footer-sections {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin-bottom: 20px;
    }

    .footer-legal ul li {
        display: block;
        margin-bottom: 10px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    /* Footer */
    .footer-sections {
        flex-direction: column;
        align-items: center;
    }
}